
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header.main {
    display: inline-block;
    /* flex-grow: 1; */
    height: 60px;
}

nav.main {
    float: right;
    height: 48px;
}

.shrink0 {
    flex-shrink: 0;
    box-sizing: border-box;
}

.footer-container {
    text-align: start;
    font-size: large;
    background-color: #F2F2F2;
}

.blue {
    color: #4285F4;
}

.red {
    color: #EA4335;
}

.yellow {
    color: #FBBC05;
}

.green {
    color: #34A853;
}