
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header.main {
    display: inline-block;
    /* flex-grow: 1; */
    /* height: 60px; */
    line-height: normal;
}

nav.main {
    float: right;
    height: 48px;
   display: flex;
   align-items: center;
}

.shrink0 {
    flex-shrink: 0;
    box-sizing: border-box;
}

.footer-container {
    text-align: start;
    font-size: large;
    background-color: #F2F2F2;
}

.links {
    text-decoration: none;
    color:#121212cb;
}

.links:hover {
    text-decoration: underline;
}