@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

#logo {
    font-family: Product Sans;
    font-size: 4rem;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    max-width: 232px;
    margin: 0 auto;
}

/* main.content {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 564px;
} */
div.input {
    border: 1px solid;
    border-radius: 30px;
    width: 380px;
    height: 30px;
}

input.input {
    border: transparent;
    width: 100%;
    height: inherit;
}

input.input:focus {
    border: none;
}

.search-input {
    border-radius: 30px;
    width: 400px;
    height: 28px;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
}

.blue {
    color: #4285F4;
}

.red {
    color: #EA4335;
}

.yellow {
    color: #FBBC05;
}

.green {
    color: #34A853;
}